.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.true {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #1b9c26;
  border-radius: 50%;
}

.false {
  width: 15px;
  height: 15px;
  display: block;
  background-color: #a82929;
  border-radius: 50%;
}

.avatar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  font-weight: 700;
}
